.row>* {
    padding-right: 0
}

.container-progress {
    margin: 30px 0 30px 0;
}

.btn-back-page {
    margin-right: 10px;
}

.title-gbookPage {
    margin-bottom: 20px;
}

.comments {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.title-comments {
    margin-bottom: 50px;
}

.select-gbookPage {
    margin-bottom: 5px;
}

.checkbox-gbookPage {
    margin-top: 20px;
    margin-bottom: 100px;
}

.label-gbookPage {
    font-weight: bold;
}

.commentsSticky {
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
}

/*  .frame-gbookPage {
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
} */

/* .fields-part{
    padding: 80% 80% 0 0;
} */

