.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 5px;
}

.progress-container{
    padding: 10px;
}

.search-gbook{
    margin-left: 5px;
    margin-bottom: 1em;
    width: 20%;
}

.btn-card{
    display: flex;
    justify-content: space-between;
}

.btn-modification{
    display: flex;
    justify-content: space-between;
    width:40%
}

.btn-auditer{
    width: 70%;
}

.btn-option{
    margin-left: 10px;
}